@(allProducts: List[Product], allUsers: List[User], logins: String)

@main("Admin Page"){

<div>
	<h1>Admin Page</h1>
</div>

<div>
	<a href="/">Home</a>
	<br>
	<a href="@routes.HomeController.logout">Logout</a>
</div>


<div class="newProduct">
	<h3>New Product</h3>
	<form method="POST" action="@routes.ProductController.create">
		<li id="product0">
			Product Name
			<input name="productName" value="" type="text" />
		</li>
		<li id="product1">
			Price $
			<input name="productPrice" value="" type="text" />
			<label for="productPrice">
				Input numbers only with or without a decimal point.
			</label>
		</li>
		<li id="product2">
			Image
			<input name="productImageLocation" value="Upload Image" type="file" />
		</li>
		<li id="product3">
			Color
			<input name="productColor" value="" type="text" />
		</li>
		<li id="product4">
			Material
			<input name="productMaterial" value="" type="text" />
		</li>
		<li id="product5">
			Dimensions
			<input name="productDimensions" value="" type="text" />
			<label for="productDimensions">
				Input dimension in cm in length x width x height i.e. 40x50x60.
			</label>
		</li>
		<li id="product6">
			Weight (kg)
			<input name="productWeight" value="" type="text" />
			<label for="productWeight">
				Input numbers only with or without a decimal point.
			</label>
		</li>
		<li id="product7">
			Current Stock
			<input name="productStock" value="" type="text" />
			<label for="productStock">
				Input integers only.
			</label>
		</li>
		<li id="product8">
			Description
			<textarea name="productDescription" rows="4" cols="50"></textarea>
		</li>
		<input type="submit" />
	</form>
</div>

<div class="newUser">
	<h3>New User</h3>
	<form method="POST" action="@routes.UserController.create">
		<li id="user1">
			Username
			<input name="username" value="" type="text" />
		</li>
		<li id="user2">
			Phone Number
			<input name="userPhoneNumber" value="" type="text" />
			Please insert in xxx-xxx-xxxx format.
		</li>
		<li id="user3">
			First Name
			<input name="userFirstName" value="" type="text" />
		</li>
		<li id="user4">
			Last Name
			<input name="userLastName" value="" type="text" />
		</li>
		<li id="user5">
			Email
			<input name="userEmail" value="" type="text" />
		</li>
		<li id="user6">
			Password
			<input name="userPassword" value="" type="password" />
		</li>
		<li id="user7">
			Gender
			<select name="userGender">
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
		</li>
		<li id="user8">
			Admin
			<input name="userAdmin" type="checkbox" value="true" />
			<input name="userAdmin" type="hidden" value="false" />
		</li>
		<input type="submit">
	</form>
</div>


<div class="displayProducts">
	<h3>Products</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Image Location</th>
			<th>Color</th>
			<th>Material</th>
			<th>Dimensions</th>
			<th>Weight</th>
			<th>Current Stock</th>
			<th>Description</th>
		</tr>
	@for(allProducts <- allProducts) {
		<tr>
			<td>@allProducts.Id</td>
			<td>@allProducts.name</td>
			<td>@allProducts.price</td>
			<td>@allProducts.imageLocation</td>
			<td>@allProducts.color</td>
			<td>@allProducts.material</td>
			<td>@allProducts.dimensions</td>
			<td>@allProducts.weight</td>
			<td>@allProducts.currentStock</td>
			<td>@allProducts.description</td>
		</tr>
	}
	</table>
	<h4>Delete</h4>
	<form method="POST" action="@routes.ProductController.delete">
		Input the ID of the product you wish to delete
		<input name="deleteID" value="" type="text" />
		<input type="submit" />
	</form>
</div>

<div class="displayUsers">
	<h3>Users</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Phone Number</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Admin</th>
		</tr>
	@for(allUsers <- allUsers) {
		<tr>
			<td>@allUsers.Id</td>
			<td>@allUsers.username</td>
			<td>@allUsers.phoneNumber</td>
			<td>@allUsers.firstName</td>
			<td>@allUsers.lastName</td>
			<td>@allUsers.email</td>
			<td>@allUsers.gender</td>
			<td>@allUsers.admin</td>
		</tr>
	}
	</table>
	<h4>Delete</h4>
	<form method="POST" action="@routes.UserController.delete">
		Input the ID of the user you wish to delete
		<input name="deleteID" value="" type="text" />
		<input type="submit" />
	</form>
</div>

<div class="loginTracking">
	<h3>Logins</h3>
	<span class="logins">@logins</span>
</div>

}