@(reviewString: String, allProducts: List[Product], allAddresses: List[Address], allPaypal: List[(Long, Long, String)], allCreditCards: List[(Long, Long, Long)], allOrders: List[Orders], username: String, userId: Long)

@main("User Page"){

<div>
	<h1>User Page</h1>
	<h3>Welcome @username!</h3>
</div>

<div>
	<a href="/">Home</a>
	<br>
	<a href="@routes.HomeController.logout">Logout</a>
</div>

<div class="displayProducts">
	<h3>Products</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Image</th>
			<th>Color</th>
			<th>Material</th>
			<th>Dimensions</th>
			<th>Weight</th>
			<th>Current Stock</th>
			<th>Description</th>
		</tr>
	@for(allProducts <- allProducts) {

		@defining("images/".concat(allProducts.imageLocation)) { path=>
		<tr>
			<td>@allProducts.Id</td>
			<td>@allProducts.name</td>
			<td>$@allProducts.price</td>
			<td><img src="@routes.Assets.versioned(path)"></td>
			<td>@allProducts.color</td>
			<td>@allProducts.material</td>
			<td>@allProducts.dimensions</td>
			<td>@allProducts.weight</td>
			<td>@allProducts.currentStock</td>
			<td>@allProducts.description</td>
		</tr>
		}
	}
	</table>
</div>

<div class="displayReviews">
	<h3>Reviews</h3>
	@reviewString
</div>

<div class="newReview">
	<h3>New Review</h3>
	<form method="POST" action="@routes.ReviewController.create">
		<input name="userId" value="@userId" type="hidden" />
		Product ID
		<input name="productId" value="" type="text" />
		<br>
		Review Text
		<textarea name="reviewText" rows="4" cols="50"></textarea>
		<br>
		<input type="submit" />
	</form>
</div>

<div class="deleteReview">
	<h3>Delete Review</h3>
	<form method="POST" action="@routes.ReviewController.deleteOne">
		Type the "_id" of the review you want to delete
		<br>
		<input name="reviewId" value="" type="text" />
		<input type="submit" />
	</form>
</div>

<div class="displayAddresses">
	<h3>My Addresses</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Street Number</th>
			<th>City</th>
			<th>Zip Code</th>
		</tr>
	@for(allAddresses <- allAddresses) {
		<tr>
			<td>@allAddresses.Id</td>
			<td>@allAddresses.streetNumber</td>
			<td>@allAddresses.city</td>
			<td>@allAddresses.zipCode</td>
		</tr>
	}
	</table>
</div>

<div class="newAddress">
	<h3>New Address</h3>
	<form method="POST" action="@routes.AddressController.create">
		<input name="userId" value="@userId" type="hidden" />
		Street Number
		<input name="streetNumber" value="" type="text" />
		<br>
		Zip Code
		<input name="zipCode" value="" type="text" />
		<br>
		City
		<input name="city" value="" type="text" />
		<br>
		<input type="submit" />
	</form>
</div>

<div class="displayPaypal">
	<h3>My Paypal Emails</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Email</th>
		</tr>
	@for(allPaypal <- allPaypal) {
		<tr>
			<td>@allPaypal._2</td>
			<td>@allPaypal._3</td>
		</tr>
	}
	</table>
</div>

<div class="newPaypalEmail">
	<h3>New Paypal Email</h3>
	<form method="POST" action="@routes.PaymentMethodController.createPaypal">
		<input name="userId" value="@userId" type="hidden" />
		Paypal Email
		<input name="paypalEmail" type="text"/>
		<br>
		<input type="submit" />
	</form>
</div>

<div class="displayCreditCards">
	<h3>My Credit Cards</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Number</th>
		</tr>
	@for(allCreditCards <- allCreditCards) {
		<tr>
			<td>@allCreditCards._2</td>
			<td>@allCreditCards._3.toString.takeRight(4)</td>
		</tr>
	}
	</table>
</div>

<div class="newCreditCard">
	<h3>New Credit Card</h3>
	<form method="POST" action="@routes.PaymentMethodController.createCreditCard">
		<input name="userId" value="@userId" type="hidden" />
		Card Number
		<input name="cardNumber" type="text"/>
		<br>
		Expiration date (MM/YY)
		<input name="expirationDate" type="text"/>
		<br>
		CVV (On back of card)
		<input name="cvv" type="text"/>
		<br>
		<input type="submit" />
	</form>
</div>

<div class="myOrders">
	<h3>My Orders</h3>
	<table>
		<tr>
			<th>Date</th>
			<th>Shipping Address ID</th>
			<th>Billling Address ID</th>
			<th>Payment ID</th>
			<th>Subtotal</th>
			<th>Tax</th>
			<th>Total</th>
		</tr>
	@for(allOrders <- allOrders) {
		<tr>
			<td>@allOrders.createdDate</td>
			<td>@allOrders.shippingAddId</td>
			<td>@allOrders.billingAddId</td>
			<td>@allOrders.paymentId</td>
			<td>$@allOrders.subtotal</td>
			<td>$@allOrders.tax</td>
			<td>$@allOrders.total</td>
		</tr>
	}
	</table>
</div>

<div class="newOrder">
	<h3>New Order</h3>
	<p>For now, you can only order one type of item at a time, but feel free to order as many as you'd like.</p>
	<form method="POST" action="@routes.OrderController.create">
		<input name="userId" value="@userId" type="hidden" />
		Product Id
		<input name="productId" type="text" />
		<br>
		Quantity
		<input name="quantity" type="text" />
		<br>
		Payment Method Id
		<input name="paymentId" type="text" />
		<br>
		Shipping Address Id
		<input name="shipAddId" type="text" />
		<br>
		Billing Address Id
		<input name="billAddId" type="text" />
		<br>
		<input type="submit" />
</div>
}