@(allProducts: List[Product], allAddresses: List[Address], allPaypal: List[(String, Long, Long)], username: String, userId: Long)

@main("User Page"){

<div>
	<h1>User Page</h1>
	<h3>Welcome @username!</h3>
</div>

<div>
	<a href="/">Home</a>
	<br>
	<a href="@routes.HomeController.logout">Logout</a>
</div>

<div class="displayProducts">
	<h3>Products</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Image Location</th>
			<th>Color</th>
			<th>Material</th>
			<th>Dimensions</th>
			<th>Weight</th>
			<th>Current Stock</th>
			<th>Description</th>
		</tr>
	@for(allProducts <- allProducts) {
		<tr>
			<td>@allProducts.Id</td>
			<td>@allProducts.name</td>
			<td>@allProducts.price</td>
			<td>@allProducts.imageLocation</td>
			<td>@allProducts.color</td>
			<td>@allProducts.material</td>
			<td>@allProducts.dimensions</td>
			<td>@allProducts.weight</td>
			<td>@allProducts.currentStock</td>
			<td>@allProducts.description</td>
		</tr>
	}
	</table>
</div>

<div class="displayAddresses">
	<h3>My Addresses</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Street Number</th>
			<th>City</th>
			<th>Zip Code</th>
		</tr>
	@for(allAddresses <- allAddresses) {
		<tr>
			<td>@allAddresses.Id</td>
			<td>@allAddresses.streetNumber</td>
			<td>@allAddresses.city</td>
			<td>@allAddresses.zipCode</td>
		</tr>
	}
	</table>
</div>

<div class="newAddress">
	<h3>New Address</h3>
	<form method="POST" action="@routes.AddressController.create">
			<input name="userId" value="@userId" type="hidden" />
			Street Number
			<input name="streetNumber" value="" type="text" />
			<br>
			Zip Code
			<input name="zipCode" value="" type="text" />
			<br>
			City
			<input name="city" value="" type="text" />
			<br>
		<input type="submit" />
	</form>
</div>

<div class="displayPaypal">
	<h3>My Paypal Emails</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Email</th>
		</tr>
	@for(allPaypal <- allPaypal) {
		<tr>
			<td>@allPaypal._2</td>
			<td>@allPaypal._1</td>
		</tr>
	}
	</table>
</div>

<div class="newPaypalEmail">
	<h3>New Paypal Email</h3>
	<form method="POST" action="@routes.PaymentMethodController.createPaypal">
		<input name="userId" value="@userId" type="hidden" />
		Paypal Email
		<input name="paypalEmail" type="text"/>
		<br>
		<input type="submit" />
	</form>
</div>

<div class="displayCreditCards">
	<h3>My Credit Cards</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Number</th>
		</tr>
	</table>
</div>

<div class="newCreditCard">
	<h3>New Credit Card</h3>
	<form method="POST" action="@routes.PaymentMethodController.createCreditCard">
		<input name="userId" value="@userId" type="hidden" />
		Card Number
		<input name="cardNumber" type="text"/>
		<br>
		Expiration date (MM/YY)
		<input name="expirationDate" type="text"/>
		<br>
		CVV (On back of card)
		<input name="cvv" type="text"/>
		<br>
		<input type="submit" />
	</form>
</div>
}